.details {
  width: 401px;
  margin: auto;
  background-color: #FCFDFE;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.details__btn-close {
  display: flex;
  justify-content: flex-end;
}

.btn-close__img {
  width: 5%;
  height: 5%;
}

.details__title {
  font-size: 1.4em;
}

.details__address {
  color: #777676;
}

.details__information {
  margin: 30px;
}

.details__btn {
  background: #0097A7;
  border-radius: 45px;
  width: 45%;
  margin: 0 auto;
  padding: 15px;
  border: none;
}

.btn__text {
  text-decoration: none;
  color: #FFFFFF;
}
