<mat-toolbar class="modal-toolbar">
  <h2 class="filter_title">Фільтр</h2>
  <div class="modal-close" (click)="onClose()">
    <svg
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M29.5833 3.35425L26.6458 0.416748L15 12.0626L3.35413 0.416748L0.416626 3.35425L12.0625 15.0001L0.416626 26.6459L3.35413 29.5834L15 17.9376L26.6458 29.5834L29.5833 26.6459L17.9375 15.0001L29.5833 3.35425Z"
        fill="black"
        fill-opacity="0.6"
      />
    </svg>
  </div>
</mat-toolbar>
<div class="container__filters">
  <form [formGroup]="clinicForm" class="filters" (submit)="saveData()">
    <div class="container__filter_row">
      <mat-label class="filter-label">По назві поліклініки</mat-label>
      <mat-form-field class="filter">
        <input formControlName="namesClinic" matInput />
      </mat-form-field>
    </div>
    <div class="container__filter_row">
      <mat-label class="filter-label">За лікарями-спеціалістами</mat-label>
      <mat-select
        formControlName="doctors"
        class="filter"
        placeholder="Терапевт"
        multiple
      >
        <mat-option value="{{ doctor }}" *ngFor="let doctor of allDoctors">
          {{ doctor }}
        </mat-option>
      </mat-select>
      <div class="container__filter_indicator">
        <svg
          width="100%"
          height="2"
          viewBox="0 0 5000 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="100%" height="1.6" fill="black" fill-opacity="0.7" />
        </svg>
      </div>
    </div>
    <div class="container__filter_column">
      <div class="container__filter_stars">
        <app-stars-rating (starId)="getIdStar($event)"></app-stars-rating>
      </div>
    </div>
    <div class="filter_search">
      <button class="filter_search__button">знайти</button>
    </div>
  </form>
</div>
