.header {
  background: #0097A7;
  height: 50px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  line-height: 27px;
}

.block-auth {
  width: 20%;
  justify-content: flex-end;
  align-items: center;
}

.container-sing-in {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 4px 6px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.container-sing-out {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-sign-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-out-text {
  font-size: 15px;
  justify-content: center;
  cursor: pointer;
  color: #ECEFF1;
}

.sing-in-text {
  font-size: 15px;
  color: #135359;
}

.user {
  background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
