<div class="header">
  <a routerLink=".." class="header__link">Назад</a>
  <div class="block-auth" *ngIf="!user">
    <div class="container-sing-in" (click)="signInWithGoogle()">
      <input type="image" style="width:24px;height:24px" src="../../../assets/icons/google.png">
      <p class="sing-in-text">Ввійти через Google</p>
    </div>
  </div>
  <div class="block-auth" *ngIf="user">
    <div class="container-sing-out">
      <img class="user" src="{{user.photoUrl}}" />
      <div class="sign-out-text" (click)="signOut()">Вийти</div>
    </div>
  </div>
</div>
