<header>
  <app-header></app-header>
</header>
<main *ngIf="clinic" class="information">
  <section class="information__heading heading">
    <h1 class="heading__title">{{ clinic.name }}</h1>
    <p class="heading__subtitle">Телефон: {{ clinic.phone }}</p>
  </section>
  <section class="information__block">
    <h2 class="block__title">Час роботи</h2>
    <ul class="doctors__timetable timetable">
      <li *ngFor="let schedule of clinic.schedules" class="timetable">
        <p class="timetable__item">
          {{ schedule.dayOfWeek }} : {{ schedule.timeStartOfWorkDay }} -
          {{ schedule.timeEndOfWorkDay }}
        </p>
      </li>
    </ul>
  </section>
  <section class="information__block">
    <h2 class="block__title">Лікарі-спеціалісти</h2>
    <ul class="doctors__timetable doctors">
      <li *ngFor="let doctor of clinic.doctors" class="timetable">
        <p class="timetable__item">{{ doctor }}</p>
      </li>
    </ul>
  </section>
</main>
