<div class="details">
  <div class="details__btn-close btn-close">
    <input type="image" class="btn-close__img" src="../../../assets/icons/↳Color.svg" (click)="closeDetails()">
  </div>
  <h1 class="details__title">{{ data.name }}</h1>
  <p class="details__address">Адреса: {{ data.address }}</p>
  <div class="details__information information">
    <p class="information__phone">Телефон: {{ data.phone }}</p>
    <p class="information__worktime">Час роботи: {{ data.schedules[0].dayOfWeek }} {{ data.schedules[0].timeStartOfWorkDay }} - {{ data.schedules[0].timeEndOfWorkDay }}</p>
  </div>
  <div class="details__links links">
    <a routerLink="#" class="links__text">На сайт</a>
    <div class="links__btn btn">
      <a [routerLink]="[routeData, data.id]" class="btn__text">Показати більше</a>
    </div>
  </div>
</div>
