<header>
  <app-header></app-header>
</header>
<main class="container">
  <div class="container__search search" placeholder="Аптека: Бажаємо здоров'я">
    <input type="text" class="search" (click)="open()">
  </div>
  <section *ngIf="isDisplayDetails" class="container__details details">
    <app-pharmacy-details [pharmacy]="chosenPharmacy" (clickedCloseBtn)="onClickCloseBtn()"></app-pharmacy-details>
  </section>
</main>
<agm-map class="map"
  [latitude]='51.678918'
  [longitude]='7.809507'
  >
  <ng-container *ngFor="let pharmacy of pharmaciesData">
    <ng-container *ngFor="let coordinates of pharmacy.location">
      <agm-marker
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        (markerClick)="markerClicked(pharmacy)"
        [label]="pharmacy.name"
        ></agm-marker>
    </ng-container>
  </ng-container>
</agm-map>
