.container {
  background-color: #ECEFF1;
  height: 100%;
}

.container__header {
  background: #0097A7;
  height: 45px;
}

.container__body {
  padding-top: 40px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.body__title {
  font-family: 'Prata', serif;
  color: #135359;
  font-size: 45px;
}

.body__category-list {
  list-style: none;
  margin: 5px;
  width: 300px;
  padding: 0;
}

.category-list__item {
  background-color: #DAE6E7;
  width: 100%;
  margin-top: 40px;
  padding: 20px 0 20px 0;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgb(90, 86, 86);
  font-size: 25px;
  font-family: 'Prata', serif;
}

.category-list__item--link {
  color: #000000;
  text-decoration: none;
}
