<div class="container">
  <div class="container__header"></div>
  <div class="container__body body">
      <h1 class="body__title">Що шукаєш?</h1>
      <ul class="body__category-list category-list">
        <li class="category-list__item"><a routerLink="/pharmacies" routerLinkActive="active" class="category-list__item--link">Аптеки</a></li>
        <li class="category-list__item"><a routerLink="#" class="category-list__item--link">Лікарні</a></li>
        <li class="category-list__item"><a routerLink="/clinics" routerLinkActive="active" class="category-list__item--link">Поліклініки</a></li>
        <li class="category-list__item"><a routerLink="/labs" routerLinkActive="active" class="category-list__item--link">Лабораторії</a></li>
        <li class="category-list__item"><a routerLink="#" class="category-list__item--link">Приватні лікарі</a></li>
      </ul>
  </div>
</div>
